@font-face{
    font-family: Sansita;
    src: url("./Fonts/Sansita/Sansita-Regular.ttf");
}
@font-face{
    font-family: Sansita B;
    src: url("./Fonts/Sansita/Sansita-Bold.ttf");
}
body{
    font-family: Sansita;
    background-color: #000000;
  
}


.Titulos{
    margin: 15px;
    text-align: center;
    color: #d40c10;
    font-family: Sansita B;
}

#icononav{
    width:5vw;
    height: 5vw;
}


/* Animaciones */

.contenedor:hover .bordeimg {
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
}
.contenedor .bordeimg {
    overflow:hidden;
}

h2 {
    background-image: linear-gradient(transparent calc(65% - 5px), #d40c0fc9 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
}
h2:hover  {
    background-size: 100%;
}
