@font-face{
    font-family: Sansita;
    src: url("./Fonts/Sansita/Sansita-Regular.ttf");
}
@font-face{
    font-family: Sansita B;
    src: url("./Fonts/Sansita/Sansita-Bold.ttf");
}
body{
    font-family: Sansita;
    background-image: url("./Images/milky-way.jpg");
  
}

.Titulos{
    margin: 15px;
    text-align: center;
    color: #00507a;
    font-family: Sansita B;
}

nav#navegacion{
    background-color: #eff3fc;
    font-family: Sansita;
    color: #00507a;
}
#icononav{
    width:5vw;
    height: 5vw;
}
#buscar{
    color: #0077b6;
    border: 1px solid #0077b6;
}

#bordeimg{
    filter: drop-shadow(0 0 30px #caf0f8);
    border-radius: 21px 21px 20px 20px;
}
#primertxt{
    background-color: #caf0f8;
    border-radius: 21px 21px 20px 20px;
    padding: 35px 10px;
    text-align: center;
    color:#03045e ;
}

#textocarrusel{
    color: #000000;
    background-color: #f7f7f7;
    border-radius: 21px 21px 20px 20px;
    justify-self: left;
}

#cajades1{
    background-color: #03045e;
}
#cajades2{
    background-color: #caf0f8;
    color: #03043a ;
}
#cajafoto{
    width: 80%;
    border-radius: 21px;
    background-color: #03045e;
}
#foto{
    width: 98%;    
    border-radius: 21px ;
    align-items: center;
    justify-content: center;
}
#face{
    margin: 10px;
}

#fotointereses{
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 10px;
}
#ufc{
    margin:160px 10px ;
}
#texto{
    margin: 10px;
}
/*
#card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #262626;
    overflow: hidden;
}

#card #cajafoto,
#card #detalles {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}

#card #cajafoto {
    top: 0;
    left: 0;
}
#card:hover #cajafoto {
    top: 0;
    left: -100%;
}
#card #cajafoto img {
    width: 100%;
}
#card #detalles {
    background: #262626;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
#card:hover #details {
    top: 0;
    left: 0%;
}*/